<div class="nav">
    <div class="nav-box-in">
        <div class="nav_1A-img">
            <a href="index.html"><img src="../assets/images/logo-white.png" alt="logo-white"></a>
        </div>
        <div class="nav_1A-list">
            <div class="nav_2A-list">
                <a href="product.html">系列鏡框</a>
            </div>
            <div class="nav_2A-list">
                <a href="#">門市據點</a>
            </div>
            <div class="nav_2A-list">
                <a href="#">部落格</a>
            </div>
            <div class="nav_2A-list">
                <a href="#">常見問題</a>
            </div>
        </div>
    </div>    
</div>