.product-header{
    .product-header-box-in{
        max-width: 1296px;

        @include md{
            max-width: 100%;
        }
        @include sm{
        }

        .product-header_1A-title{
            width: 100%;

            a{
                position: relative;
                width: 100%;
                height: 96px;
                @include md{
                    height: 68px;
                }
                @include sm{
                    height: 56px;
                }
                h4{
                    font-size: $fs-32;
                    color:$color-black;
                    font-weight:700;
                    text-align: center;
                    @include md{
                        font-size: $fs-24;
                    }
                    @include sm{
                        font-size: $fs-16;
                    }
                }
                div{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 8px;
                    background-color: transparent;
                }
            }
            a:hover{
                div{
                    background-color: $color-red;
                }
            }
        }
    }
}
.product-header2{
    .product-header2-box-in{
        width: 100%;
        picture{
            width: 50%;
            
            img{
                width: 100%;
                height: 296px;
                object-fit: cover;
                @include md{
                }
                @include sm{
                    height: 136px;
                }
            }
        }
    }
}
.product-main1{

    .product-main1-box-in{
        max-width:1320px;
        flex-direction:column;
        row-gap:32px;
        @include md{
            max-width: 696px;
        }
        @include sm{
            max-width: 348px;
            row-gap:24px;
        }

        .product-main1_1A-title{
            
            h2{
                text-align: center;
                font-size:$fs-42;
                font-weight: 700;
            }
            h3{
                text-align: center;
                font-size:$fs-42;
            }
        }

        .product-main1_1B-card-box{
            max-width: 100%;

            @include md{
            }
            @include sm{
            }

            .product-main1_2A-card-row{
                flex-wrap:wrap;
                row-gap: 80px;
                @include md{
                }
                @include sm{
                }

                .product-main1_3A-card-box{

                    width: calc(25% - 18px);
                    @include md{
                        width: calc(50% - 12px);
                    }
                    @include sm{
                        width: 100%;
                    }
                }
            }
        }
    }
}
.product-main1_4A-content{

    .product-main1_5A-img{
        max-width: 306px;

        @include md{
            max-width: 336px;
        }
        @include sm{
            max-width: 348px;
        }

        img{
            width: 100%;
            max-height: 168px;
            object-fit: cover;
        }
    }

    .product-main1_5B-text{

        .product-main1_6A-text1{
            font-size:$fs-24;
            font-weight: 500;
        }

        .product-main1_6A-text2{
            font-size:$fs-24;
            color:$color-red;
            font-weight: 500;
        }

    }

    .product-main1_5C-colorbox{
        gap:8px;
        .product-main1_6B-colorbox1{
            width:24px;
            height:24px;
            background-color: $color-5F3E2D;
        }

        .product-main1_6B-colorbox2{
            width:24px;
            height:24px;
            background-color: $color-B75929;
        }
    }
}
.product-pagination{

    .product-pagination-box-in{
        border-collapse: collapse;
        .product-pagination-item{
            
            .product-pagination-page-link-L{
                display: block;
                font-size: 18px;
                background-color: $color-white;
                color: #555555;
                padding: 12px;
                border: 1px solid #555555;
                border-right: none;
                @include md{
                }
                @include sm{
                    font-size: 16px;
                }
            }
            .product-pagination-page-link-L:hover{
                background-color: $color-black;
                color:$color-white;
            }
            
            .product-pagination-page-link{
                display: block;
                font-size: 18px;
                background-color: $color-white;
                color: #555555;
                padding: 12px 16px;
                border: 1px solid #555555;
                border-right: none;
                @include md{
                }
                @include sm{
                    font-size: 16px;
                }
            }
            .product-pagination-page-link:hover{
                background-color: $color-black;
                color:$color-white;
            }

            .product-pagination-page-link-R{
                display: block;
                font-size: 18px;
                background-color: $color-white;
                color: #555555;
                padding: 12px;
                border: 1px solid #555555;
                @include md{
                }
                @include sm{
                    font-size: 16px;
                }
            }
            .product-pagination-page-link-R:hover{
                background-color: $color-black;
                color:$color-white;
            }

        }
    }
}