//變數區
    $color-white:#ffffff;
    $color-black:#000000;
    $color-red:#AA0601;
    $color-FBF2F2:#FBF2F2;
    $color-650300:#650300;
    $color-5F3E2D:#5F3E2D;
    $color-B75929:#B75929;
    $fs-64:64px;
    $fs-48:48px;
    $fs-36:36px;
    $fs-24:24px;
    $fs-time:14px;
    $fs-20:20px;
    $fs-16:16px;
    $fs-32:32px;
    $fs-42:42px;
    $fs-72:72px;