<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <!---------------------product-header------------------------------->
    <div class="product-header">
      <div class="product-header-box-in d-flex d-between mg-center">
          <div class="product-header_1A-title d-flex d-center">
              <a href="#" class="d-flex d-center"><h4>OPTICAL</h4><div></div></a>
              <a href="#" class="d-flex d-center"><h4>SUNGLASSES</h4><div></div></a>
              <a href="#" class="d-flex d-center"><h4>FUNCTIONAL</h4><div></div></a>
          </div>
      </div>
  </div>
  <!---------------------product-header------------------------------->
  <!---------------------product-header2------------------------------->
  <div class="product-header2">
    <div class="product-header2-box-in d-flex">
      <picture>
          <source srcset="../assets/images/product-header-sm-1.png" media="(max-width:992px)">
          <img src="../assets/images/product-header-1.png" alt="product-header-1">
      </picture>
      <picture>
        <source srcset="../assets/images/product-header-sm-2.png" media="(max-width:992px)">
        <img src="../assets/images/product-header-2.png" alt="product-header-2">
      </picture>
    </div>
  </div>
  <!---------------------product-header2------------------------------->
  <!---------------------product-main1------------------------------->
  <div class="product-main1">
    <div class="product-main1-box-in mg-center d-flex d-between pd-y-80 pd-x-12">
      <div class="product-main1_1A-title">
        <h2>Celluloid Combi</h2>
        <h3>賽璐珞鈦金屬混合鏡框</h3>
      </div>
      <div class="product-main1_1B-card-box">
        <ul class="product-main1_2A-card-row d-flex d-between">
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-1.png" alt="product-1">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-2.png" alt="product-2">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-3.png" alt="product-3">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-4.png" alt="product-4">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-5.png" alt="product-5">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-6.png" alt="product-6">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-7.png" alt="product-7">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-1.png" alt="product-1">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-8.png" alt="product-8">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-9.png" alt="product-9">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-10.png" alt="product-10">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
          <li class="product-main1_3A-card-box">
            <div class="product-main1_4A-content">
              <div class="product-main1_5A-img">
                <img src="../assets/images/product-11.png" alt="product-11">
              </div>
              <div class="product-main1_5B-text d-flex d-between">
                <p class="product-main1_6A-text1">BJ41600S</p>
                <p class="product-main1_6A-text2">NTD3,490</p>
              </div>
              <div class="product-main1_5C-colorbox d-flex">
                <div class="product-main1_6B-colorbox1" ></div>
                <div class="product-main1_6B-colorbox2"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!---------------------product-main1------------------------------->
  <!---------------------product-pagination------------------------------->
  <nav class="product-pagination d-flex d-center">
    <ul class="product-pagination-box-in mg-center d-flex pd-bottom-80">
      <li class="product-pagination-item"><a class="product-pagination-page-link-L" href="#">上一頁</a></li>
      <li class="product-pagination-item"><a class="product-pagination-page-link" href="#">1</a></li>
      <li class="product-pagination-item"><a class="product-pagination-page-link" href="#">2</a></li>
      <li class="product-pagination-item"><a class="product-pagination-page-link" href="#">3</a></li>
      <li class="product-pagination-item"><a class="product-pagination-page-link" href="#">4</a></li>
      <li class="product-pagination-item"><a class="product-pagination-page-link" href="#">5</a></li>
      <li class="product-pagination-item"><a class="product-pagination-page-link-R" href="#">下一頁</a></li>
    </ul>
  </nav>
  <!---------------------product-pagination------------------------------->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
